<h2>{{titulo}}</h2>

<form #FormRegistro="ngForm" (ngSubmit)="registrarUsuario()">


    <div class="container">

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.nombre" required>
                <mat-error  *ngIf="nombre.touched && !nombre.valid" style="color: red;">* Este campo es obligatorio!</mat-error >
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label> Direccion</mat-label>
                <input matInput type="text" name="direccion" #direccion="ngModel" [(ngModel)]="usuario.direccion"
                    required>
                <mat-error *ngIf="direccion.touched && !direccion.valid">
                    Direccion <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <input type="submit" value="Guardar" [disabled]="!FormRegistro.form.valid">
    </div>
</form>